body {
    font-size: 110%;
    font-family: 'Mina', sans-serif;
    background-color:lavender;
    padding-top: 2em;
}

.container {
    margin: auto;
    width: 50%;
}

/* entire form */

form {
    background-color: white;
    margin: 0 auto;
    position: relative;
    font-size: 1em;
    line-height: 1.5em;
    text-decoration: none;
    border-radius: 4%;
    padding: 3em;
    padding-top: 1.5em;
    border: 1px solid #DDD;
    border: inset 1px solid #DDD;
}

/* makes boxes shift to next line */

.form_label {
    display: block;
}

h1 {
    font-size: 2rem;
    line-height: 1rem;
    padding-left: 0.5rem;
    text-align: center;
    text-decoration: none;
}

/* submit button */

input {
    width: 95%;
    margin: auto;
    padding: 0.6rem;
    border: 1px solid black;
    font-size: 1rem;
}

/* error messages */

.error {
    color: crimson;
    font-size: 1em;
    margin-top: 0.5em;
    line-height: 1em;
}

.error:last-of-type {
    margin-bottom: 1.5em;
}

/* submit button */

.submit { 
    margin-top: 1em;
    display: block;
    width: auto;
    padding: 0.7em 1em; 
    background-color: purple;
    border: 0;
    color: #FFFFFF; 
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 0.1em;
}
