{% extends 'base.html' %}

{% block content %}

    <h1>
        <a href="/">User Signup</a>
    </h1>
        <!--form action="/welcome" method="post"-->
        <form method="post">  
            <label class="form_label" for="Username">Username:</label>
            <input id="Username" type="text" name="Username" value='{{username}}'/>
            <span class="error">{{username_error}}</span>
            <br>
            <label for="Password">Password:</label>
            <input id="Password" type="password" name="Password" />
            <span class="error">{{password_error}}</span>
            <br>
            <label for="VerifyPassword">Verify Password:</label>
            <input id="VerifyPassword" type="password" name="VerifyPassword" />
            <span class="error">{{password2_error}}</span>
            <br>
            <label for="email">Email (not required):</label>
            <input id="email" type="text" name="email" value='{{email}}'/>
            <span class="error">{{email_error}}</span>
            <br>
            <input class="submit" type="submit" value="Sign me up!"/>
        </form>

{% endblock %}
